<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title> 
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div>
         {{>header}}
    </div>
    
    <p>this is weather app , we used mapbox api to get the latitude and longitude of the place and weatherapi to get the cuuernt temperature of the location</p>
    
    <p>  {{>footer}} </p>
</body>
</html>